{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1> {{ list.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Due date</th>
            </thead>
            <tbody>
            {% for list in todos.all %}
                <tr>
                    <td>{{  list.item.name }}</td>
                    <td>{{ list.due_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</main>
{% endblock content %}