{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of items</th>
            </thead>
            <tbody>
                {% for list in todos.all %}
                    <tr>
                        <td><a href="{% url 'detail_todos' list.pk %}">{{ list.name }}</td>
                        <td>{{ list | length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}